<h1>{{ title }}</h1>
<ul>
  <li *ngFor="let course of courses">
    {{ course }}
  </li>
</ul>
<div class="code">
  <div>Angular ngFor Directive:</div>
  <pre>
    &lt;ul&gt;
      &lt;li *ngFor="let course of courses"&gt;
      &lcub; &lcub; course &rcub; &rcub; 
      &lt;/li&gt;
    &lt;/ul&gt;
  </pre>
</div>

<button class="btn btn-primary">test of Bootstrap</button>

<div class="code">
  <div>Install bootstrap package inside angular app:</div>
  <pre>
    npm install bootstrap

    get the path of bootstrap.css file:
      node_modules\bootstrap\dist\css\bootstrap.css

      in src/styles.css
        insert the line:
          @import "~bootstrap\dist\css\bootstrap.css";
      
      
  </pre>
</div>

<br />
<button class="btn btn-primary" [class.active]="isActive">
  test of Class Binding
</button>
<br />
<button
  class="btn btn-primary"
  [style.backgroundColor]="isActive ? 'red' : 'pink'"
>
  test of style Binding
</button>
<br />
<button class="btn btn-primary" (click)="toggleIsActive()">Toggle Event</button>
<br />
<div (click)="ClickDiv($event)">
  <button class="btn btn-primary" (click)="ClickBtn($event)">Click Btn</button>
  <button class="btn btn-primary" (click)="ClickBtnNoBubbling($event)">
    Click Btn w/prevent Event Bubbling
  </button>
</div>
<input (keyup.enter)="onKeyUp($event)" class="form-control" />

<label for="FromTemplateVar">texto (from template var)</label>
<input
  id="FromTemplateVar"
  #texto
  (keyup.enter)="onKeyUpFromVar(texto.value)"
  class="form-control"
/>

<input (keyup.enter)="onKeyUp($event)" class="form-control" />

<label for="TwoWayBinding">email (Two Way Binding)</label>
<input
  id="TwoWayBinding"
  [(ngModel)]="email"
  (keyup.enter)="onKeyUpTwoWayBinding()"
  class="form-control"
/>
